* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
}

body{
    height: fit-content;
    scroll-behavior: smooth;
}

hr{
    background-color: green;
    height: 4px;
}

.h-primary{
    font-size: 2.8rem;
    font-weight: bolder;
}

.h-secondary {
    margin: 40px 0px;
    font-weight: bold;
    font-size: 3rem;
    color: #d94332;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.h-third{
    margin: 6px;
    font-weight: bold;
    font-size: 1.3rem;
}

#navbar{
    display: flex;
    width: 100%;
    background-color: rgba(232, 199, 199, 0.29);
    position: sticky;
    top: 0px;
}

.logo{
    display: flex;
    justify-self: center;
    align-items: center;
}

.logo img{
    width: 50px;
    height: 50px;
    border: 0.1rem solid green;
    margin: 9px;
}


.navmenu{
    display: flex;
    align-self: center;
    justify-self: center;
    list-style-type: none;
    margin: 10px 0px 10px 14%;
    /* background-color: rgb(253, 222, 182);
    border: 0.1rem solid green;
    border-radius: 2px; */
    width: 40%;
}

.navmenu li a{
    display: block;
    text-decoration: none;
    padding: 13px;
    color: black;
    font-weight: bold;
}
.navmenu li a:hover, .active{
    /* background-color: rgb(247, 194, 125); */
    text-decoration: underline;
    color: rgba(0, 128, 0, 0.826);
}

#Home{
    display: flex;
    flex-direction: column;
    padding: 0px 200px;
    height: 480px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000;
    margin: 20px 0px;
}

#Home::before{
    content: "";
    position: absolute;
    background: url(../Img/bg.jpg) no-repeat center center/cover;
    width: 100%;
    height: 525px;
    z-index: -1;
    top: 0px;
    opacity: 0.8;
}


#Home p{
    font-size: 1.4rem;
    font-weight: bold;
    padding: 9px 0px;
    margin: 6px 0px;
}

.btn{
    background-color: rgb(253, 222, 182);
    padding: 8px 16px;
    margin: 8px 0px;
    border: 0.15rem solid green;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(254, 247, 237);
    color: green;
    /* text-decoration: underline; */
}


#partners-section{
    width: 100%;
    text-align: center;
}

#partners{
    display: flex;
    margin: 50px 0px;
}

#partners p{
    font-weight: bold;
    font-size: 1rem;
    padding: 4px 0px;
}

.partner{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    text-align: justify;
    background-color: rgb(253, 239, 220);
    border: 0.15rem solid green;
    border-radius: 6px;
    padding: 10px 30px 10px 30px;
    margin: 10px;
    width:25%;
}

.partnerimg{
    margin: 10px 0px;
    width: 50%;
    border: 0.15rem solid green;
    border-radius: 6px;
}

#projects-section{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgba(253, 250, 246, 0.368);
    /* background: url(/Web1/Img/building.jpg) no-repeat center center; */
}


.projects{
    display: flex;
    text-align: start;
    width: 100%;
    overflow:auto;
    padding: 10px;
    margin: 50px 0px;

}

.projects img{
    width: 25%;
    border: 0.18rem solid green;
    /* border-radius: 6px; */
}

.project-content{
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: 75%;
    padding: 30px;
    /* background-color: rgba(253, 239, 220, 0.683); */
}

.project-content h3{
    font-size: 2rem;
    margin: 0px;
}
.project-content p{
    font-size: 1.3rem;
    margin: 24px 0px;
}

.project-btn{
    display: flex;
    justify-content: space-between;
}

.project-content button{
    background-color: rgb(255 235 191);
    margin: 0px;
    width: 49%;
}

#sector-section{
    width: 100%;
    text-align: center;
}

#sector{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 40px 0px;

}

#sector p{
    display: none;
}

#sector a{
    margin: 15px;
}

#sector a:hover{
    background-color: #000000;
}

.sector-image{
    width: 130px;
    border: 0.18rem solid green;
}

.sector-image:hover{
    opacity: 0.7;
}

footer p{
    text-align: center;
    background-color: antiquewhite;
    font-weight: bold;
    padding: 50px 0px;
}
footer a{
    text-decoration: none;
    color: #681c1c;
}